{% extends 'base.html' %}

{% block title %}Hide/Restore{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    
    {% if user.id == post.author.id %}
        <h1>Hide/Restore Post...</h1>

        <br>
        <br>
        <div class="form-group">
            <form action="" method="post">
                <h3>Are you sure you want to hide this post?!</h3>
                {% csrf_token %}
                {{ form.as_p }}
                {% if post.is_deleted %}
                <button class="btn btn-secondary" type="submit">Restore</button>
                {% else %}
                <button class="btn btn-secondary" type="submit">Hide</button>
                {% endif %}
            </form>
        </div>
    {% else %}
        <h1>You are not allowed here (and you know it!)</h1>
    {% endif %}

{% else %}
    <h1>You are not allowed here (and you know it!)</h1>
{% endif %}
{% endblock %}